html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

header {
  display: contents;
}

body {
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "banner banner banner"
    "col1 col2 col3";
    gap: 1rem;
}

.pano {
  grid-area: banner;
  padding: 1rem;
}

h1 {
  grid-area: banner;
  align-self: flex-start;
  grid-column: 1
  grid-row: 1;
  z-index: 1;

  margin-top: .5em;
  margin-left: .8em;

  display: flex;
  flex-direction: column;
}

i {
  font-size: 2rem;
  margin-bottom: -.1em;
}

span {
  font-size: 1.125rem;
}

nav {
  grid-area: banner;
  grid-column: 3;
  grid-row: 1;
  align-self: start;
  z-index: 2;
}

img {
  display: block;
  width: 100%;
  padding-top: 5rem;
}

nav ul li {
  list-style-type: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-top: 2.5rem;
  margin: 0;
  justify-content: space-between;
  justify-content: space-around;
}

nav {
  font-size: 140%;
}

p:nth-child(1) {
  font-size: 240%;
  text-align: center;
  margin: 0;
}

p:nth-child(2) {
  text-align: center;
}

section {
  display: grid;
  grid-column: 2;
  border-top: 5px solid #e2e2e2;
  border-bottom: 5px solid #e2e2e2;
}
