html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "banner"
    "span"
    "col1"
    "footer";
  gap: 1rem;
}

.pano {
  grid-area: banner;
  margin: 1rem 0 .5rem;
}

h1 {
  grid-area: banner;
  grid-row: 1;

  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header i {
  font-size: 2rem;
}

header span {
  font-size: 1.125rem;
}

header img {
  display: block;
  width: 100%;
}

nav li {
  list-style-type: none;
}

nav li a {
  color: #3783a3;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin: 0;
  justify-content: space-between;
  color: #3783a3;
}

nav {
  font-size: 1.125rem;
  grid-area: banner;
  padding: 0 1.5rem;
}

.banner {
  display: flex;
  flex-direction: column;
}

section p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

section {
  border-top: 3.2px solid #e2e2e2;
  border-bottom: 3.2px solid #e2e2e2;
  grid-area: span;
  font-style: normal;
  padding: 0;
  margin: 0;
}

section > h3 {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem 0;
}

article {
  display: contents;
  gap: 1rem;
  margin: 1rem;
  padding: 0;
}

figure h4 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0;
  margin: 1rem 0;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption h4 i {
  font-size: 1.5rem;
}

figcaption h4 span {
  font-size: 1.125rem;
}

figcaption p {
  margin-bottom: 2rem;
}

figure {
  grid-area: col1;
  padding: 0;
  margin: 1.5rem 0 .5rem;
}

figure:nth-child(2) {
  margin: 1rem 0;
}

figure:nth-child(3) {
  margin: 1rem 0;
}

figure a {
  color: #3783a3;
  border: 3.2px solid #3783a3;
  border-radius: .3rem;
  padding: .5rem 1rem;
  text-decoration: none;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  grid-area: footer;
  border-top: 3.2px solid #e2e2e2;
  text-align: center;
  padding-top: 1em;
  font-size: .8rem;
}

@media only screen and (min-width: 38em) {

  header {
    display: contents;
  }

  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "banner banner banner"
    "spann spann spann"
    "col1 col2 col3"
    "footer footer footer";
    gap: 1rem;
  }

  main {
    display: contents;
  }

  .pano {
    grid-area: banner;
  }

  h1 {
    grid-area: banner;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }

  nav {
    grid-area: banner;
    padding-top: 1.5rem;
    align-items: center;
    text-align: right;
    margin-left: auto;
    justify-content: space-between;
  }

  nav li {
    padding: 0 .5rem;
  }
  img {
    display: block;
    width: 100%;
    padding-top: 5rem;
  }

  section {
    grid-area: spann;
    justify-self: center;
    max-width: 30em;
  }

  figure:nth-child(1) {
    grid-area: col1;
  }

  figure:nth-child(2) {
    grid-area: col2;
    margin: .5rem 0;
  }

  figure:nth-child(3) {
    grid-area: col3;
    margin: .5rem 0;
  }

  figure a {
    justify-content: flex-end;
    margin-top: auto;
  }

  figure img {
    padding-top: 0;
  }

  section p {
    padding: 0;
  }

  figure {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
